<ul class="nav navbar-nav navbar-right">
    <li>{% if is_granted("ROLE_ADMIN") %}
            <a href="#">Éspace administrateur</a>
        {% elseif is_granted("ROLE_CHERCHEUR") %}
            <a href="#">Administrer les observations</a>
        {% else %}
            <a href="#">Notre association</a>
        {% endif %}
    </li>
    <li><a href="#">Saisir une observation</a></li>
    <li><a href="#">Blog</a></li>
    <li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </li>
</ul>