{# app/Resources/views/admin/users/users.html.twig #}

{% extends 'admin/home.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Gestion des utilisateurs</h1>
        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th rowspan="2">Pseudo</th>
                    <th rowspan="2">Email</th>
                    <th colspan="2">Rôles</th>
                    <th colspan="2" rowspan="2"></th>
                </tr>
                <tr>
                    <th>Blog</th>
                    <th>Site</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                        <select name="role_blog">
                            <option value="ROLE_MEMBRE">Membre</option>
                            <option value="ROLE_CONTRIBUTEUR">Contributeur</option>
                            <option value="ROLE_REDACTEUR">Rédacteur</option>
                            <option value="ROLE_ADMIN">Administrateur</option>
                            <option value="ROLE_SUPER_ADMIN">Super-admin</option>
                        </select>
                    </td>
                    <td>
                        <select name="role_site">
                            <option value="ROLE_UTILISATEUR">Utilisateur</option>
                            <option value="ROLE_CHERCHEUR">Chercheur</option>
                            <option value="ROLE_SUPER_ADMIN">Super-admin</option>
                        </select>
                    </td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td><a href="#"><a data-toggle="tooltip" href="#" title="Editer"><span class="glyphicon glyphicon-pencil"></span></a></a></td>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td class="btn-delete">
                            <a data-toggle="tooltip" href="#" title="Supprimer"><i
                                        class="glyphicon glyphicon-trash"></i></a>
                            <form action="#" method="post">
                                <input type="submit" value=""/>
                                {{ form_rest(form) }}
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
