{% extends 'Marketing/index.html.twig' %}

{% block content%}


<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Nos amis les oiseaux</h1>
                    <h3>Participez à une vaste étude environnementale</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>

                        </li>
                        <li>
                            <a href="#" class="btn btn-success btn-lg"> <span class="network-name">Je participe!</span></a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Profitez de vos promenades pour observer les oiseaux</h2>
                <p class="lead">Lors de vos promenades et de vos randonnées, prenez le temps d'observez les oiseaux que vous croiserez, et faîtes des photos! Ces observations permettront de mieux apréhender l'évolution de la biodiversité dans votre région. <br></p>
                <p class="text-center"><br><a href="#" class="btn btn-success"><span class="network-name">Je participe!</span></a></p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{{ asset('bundles/gsquadcore/marketing/img/birdwatching.jpg') }}" alt="Un couple de randonneurs observe les oiseaux avec des jumelles">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Répertoriez vos observations</h2>
                <p class="lead">De retour chez vous connectez-vous sur <a target="_blank" href="">notre site internet</a> afin de répertorier les oiseaux que vous aurez vu lors de votre sortie.</p>
                <p class="text-center"><br><a href="#" class="btn btn-success"><span class="network-name">Je participe!</span></a></p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="{{ asset('bundles/gsquadcore/marketing/img/birdontree.jpg') }}" alt="Un oiseau bleu et orange est posé sur une branche">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Des chercheurs à votre écoute</h2>
                <p class="lead">Des ornithologues et naturalistes professionels utilisent vos observations afin de mener une grande étude sur l'impact des comportements humais sur la biodiversité et plus particulièrement sur l'évolution des différentes espèces d'oiseaux.</p>
                <p class="text-center"><br><a href="#" class="btn btn-success"><span class="network-name">Je participe!</span></a></p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{{ asset('bundles/gsquadcore/marketing/img/ornithologist.jpg') }}" alt="Un ornithologue note ses observations en extérieur">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 text-center">
                <h2>Rejoignez nous!</h2>
            </div>
            <div class="col-lg-6 text-center">
                <a href="#" class="btn btn-success btn-lg"><i class="fa fa-binoculars fa-fw"></i> <span class="network-name">Je participe!</span></a>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->
{% endblock %}