{% extends 'Marketing/index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12"></div>
            <div class="col-md-5 col-sm-12 text-center vcenter">
                <h1>Protégez-moi !</h1>
                <br>
                <span class="paragraphe">
                  <p class="text-justify">Vous aimez l'environnement ? Vous souhaitez participer à une vaste étude ornithologique participative et totalement gratuite ? Grâce à vous, nous pourrons :</p>
                </span>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check" aria-hidden="true"></i> Recenser les espèces d'oiseaux partout en France</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Quantifier les oiseaux sur le territoire</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Comprendre l'impact humain sur la vie des oiseaux</li>
                </ul>
                <br>
                <span class="bouton">
                  <button type="button" class="btn btn-primary btn-round-lg btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-binoculars fa-fw"></i> <span class="network-name">Rejoignez-nous!</span></button>
                </span>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
