{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.category) }}
    <a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/gsquadblog/js/addField.js') }}"></script>
{% endblock %}
