{% extends 'base.html.twig' %}

{% block content %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=303776473354577";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <div id="fb-root"></div>


    <div class="container">

        {% if app.request.hasPreviousSession %}

            {% for type, messages in app.session.flashbag.all() %}
                <div class="alert alert-info">
                    {% for message in messages %}

                        <div class="flash-{{ type }}">

                            {{ message }}

                        </div>
                    {% endfor %}
                </div>
            {% endfor %}


        {% endif %}

        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}