<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('conditions_generales') }}" title="Conditions générales">Conditions générales</a> </li>
            <li><a href="{{ path('faq') }}" title="Foire aux questions">FAQ</a> </li>
            <li><a href="{{ path('mentions_legales') }}" title="Mentions légales">Mentions légales</a> </li>
            <li><a href="{{ path('plan_site') }}" title="Plan du site">Plan du site</a> </li>
            <li><a href="#">Contact</a> </li>
            <li><a href="#">Adhérer</a> </li>
        </ul>
    </div>
</footer>