<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Conditions générales</a> </li>
            <li><a href="#">FAQ</a> </li>
            <li><a href="#">Mentions légales</a> </li>
            <li><a href="#">Plan du site</a> </li>
            <li><a href="#">Contact</a> </li>
            <li><a href="#">Adhérer</a> </li>
        </ul>
    </div>
</footer>