.bg-white {
    background-color: white;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.post-block {
    padding: 15px;
    margin-bottom: 10px;
}

.post-content {
    text-align: justify;
}

.author {
    text-align: right;
}

.img-post {
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Commentaires */
.comments {
    padding: 10px 0px;
    margin-top: 10px;
    margin-left: 20%;
}
.comment {
    padding: 5px;
}

#comment-form {
    margin-left: 5%;
    width: 67%;
}

/* Admin blog */
.btn-delete {
    position: relative;
}

.btn-delete > i {
    padding-top: 10px;
    position: absolute;
}

.btn-delete > form {
    position: absolute;
    opacity: 0;
}

.post-block > form > div.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#tags .checkbox {
    display: inline;
}

#blog-search {
    margin-bottom: 20px;
}

#category_name {
    margin-left: 10px;
}

.btn-edit {
    border: none;
    background: none;
}

@media all and (max-device-width: 480px)
{
    .img-post {
        float: none;
        margin: auto;
    }

    .comments {
        margin: auto;
    }
}
