.post-block {
    margin: 10px;
    padding: 10px;
    background-color: #2e9ad0;
}

.comments {
    padding: 10px 0px;
}
.lastComment {
    padding: 5px;
    background-color: white;
}

.btn-delete {
    position: relative;
}

.btn-delete > i {
    padding-top: 10px;
    position: absolute;
}

.btn-delete > form {
    position: absolute;
    opacity: 0;
}