<hr>

<div class="row">
    <div class="col-md-6">
        <p><a href="{{ hwi_oauth_login_url('facebook') }}"><img class="img-responsive" src="{{ asset('assets/img/facebook_btn.png') }}" alt="logo-facebook"></a></p>
    </div>
    <div class="col-md-6">
        <p><a href="{{ hwi_oauth_login_url('google') }}"><img class="img-responsive"  src="{{ asset('assets/img/google_btn.png') }}" alt="logo-facebook"></a></p>
    </div>
</div>