{# app/Resources/views/static/about.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}A propos | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-sm-8">
                    <h2>Notre association</h2>
                    <p class="text-justify">
                        Créée en 2011 par un petit groupe de passionnés d'ornythologie, l'association Nos Amis les
                        Oiseaux compte aujourd'hui une centaine de membres, naturalistes, chercheurs, étudiants, ou
                        simples amoureux de la nature.<br/><br/>
                        Tous sont guidés par la même envie : connaître, comprendre et protéger les oiseaux.
                    </p>
                </div>
                <img src="{{ asset('assets/img/buse.jpg') }}" alt="Buse" class="col-sm-4 img-responsive">
            </div>
            <div class="row">
                <img src="{{ asset('assets/img/rougegorge.jpg') }}" alt="Rouge-gorge" class="col-sm-4 img-responsive">
                <div class="col-sm-8">
                    <h2>Notre but</h2>
                    <p class="text-justify">
                        Nos principales missions sont l'étude et la protection des oiseaux et de leurs habitats.<br/>
                        Nous organisons régulièrement des actions de sensibilisation et de vulgarisation : animations,
                        conférences, observations, etc.<br/><br/>
                        Depuis peu, nos adhérents prennent part à un vaste programme de recherche visant à étudier les
                        effets du climat, de l'agriculture et de l'urbanisation sur les espèces d'oiseaux présentes sur
                        le territoire métropolitain.
                    </p>
                </div>
            </div>

            <div class="text-center margin">
                Vous souhaitez nous aider dans notre démarche ? Rejoignez-nous en adhérant à l'association :<br>
                <a href="{{ path('adhesion') }}" title="Adhérer à l'association" class="">Adhérer à l'association</a>
            </div>
        </section>
    </div>
{% endblock %}
