{# app/Resources/views/static/about.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}A propos | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <img src="" alt="Logo" class="img-responsive pull-left">
            <h1>Nos Amis les Oiseaux</h1>
        </div>
        <section>
            <div class="row">
                <div class="col-sm-8">
                    <h2>Notre association</h2>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ornare eros. Vestibulum eleifend urna
                        sodales mi lobortis, nec aliquet lectus efficitur. Cras porta lectus et est egestas, nec congue massa
                        efficitur. Quisque cursus, nulla quis iaculis facilisis, massa metus tempor urna, eget venenatis sem
                        augue a leo. Sed congue euismod nisl ut bibendum. Aenean dolor purus, ultricies sit amet elit in,
                        efficitur pulvinar quam. Praesent a condimentum enim. Praesent aliquet volutpat odio sed tempor. Etiam
                        venenatis nec ipsum dictum pellentesque. Vivamus molestie gravida tortor laoreet varius. Nam venenatis
                        egestas ante, vitae dapibus purus elementum vel. Nullam placerat leo at nulla hendrerit, eu finibus nisl
                        pulvinar. Suspendisse sed aliquet velit. Nullam ut felis ut mi iaculis facilisis eu sed magna. Sed id
                        ipsum malesuada diam sagittis hendrerit non id lacus.
                    </p>
                </div>
                <img src="{{ asset('assets/img/buse.jpg') }}" alt="Buse" class="col-sm-4">
            </div>
            <div class="row">
                <img src="{{ asset('assets/img/rougegorge.jpg') }}" alt="Rouge-gorge" class="col-sm-4">
                <div class="col-sm-8">
                    <h2>Notre but</h2>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ornare eros. Vestibulum eleifend urna
                        sodales mi lobortis, nec aliquet lectus efficitur. Cras porta lectus et est egestas, nec congue massa
                        efficitur. Quisque cursus, nulla quis iaculis facilisis, massa metus tempor urna, eget venenatis sem
                        augue a leo. Sed congue euismod nisl ut bibendum. Aenean dolor purus, ultricies sit amet elit in,
                        efficitur pulvinar quam. Praesent a condimentum enim. Praesent aliquet volutpat odio sed tempor. Etiam
                        venenatis nec ipsum dictum pellentesque. Vivamus molestie gravida tortor laoreet varius. Nam venenatis
                        egestas ante, vitae dapibus purus elementum vel. Nullam placerat leo at nulla hendrerit, eu finibus nisl
                        pulvinar. Suspendisse sed aliquet velit. Nullam ut felis ut mi iaculis facilisis eu sed magna. Sed id
                        ipsum malesuada diam sagittis hendrerit non id lacus.
                    </p>
                </div>
            </div>

            <div class="text-center">
                Vous souhaitez nous aider dans notre démarche ? Rejoignez-nous en adhérant à l'association :<br>
                <a href="{{ path('adhesion') }}" title="Adhérer à l'association" class="">Adhérer à l'association</a>
            </div>
        </section>
    </div>
{% endblock %}
