{# app/Resources/views/static/faq.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}FAQ | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Foire aux questions</h1>
        <section class="text-justify">
            <div>
                <h2>Suis-je obligé d'adhérer à votre association pour participer au programme de recherche ?</h2>
                <p>
                    Non ! La participation au programme de recherche est ouverte à tous, aucune adhésion n'est
                    obligatoire.
                </p>
            </div>
            <div>
                <h2>Est-ce gratuit ?</h2>
                <p>
                    Oui, totalement ! Il s'agit ici de mobiliser le plus grand nombre afin d'établir un recensement le
                    plus exhausitf des espèces d'oiseaux pour permettre aux chercheurs d'étudier les effets du climat et
                    de l'activité humaine sur la biodiversité.
                </p>
            </div>
            <div>
                <h2>Comment faire si je n'ai pas accès à internet lors de mes randonnées ?</h2>
                <p>
                    Aucun souci ! Sur site, prenez vos photos, notez les coordonnées de vos observations. Une fois de
                    retour dans une zone couverte par le réseau, vous pourrez remplir le formulaire d'ajout
                    d'observation.
                </p>
            </div>
            <div>
                <h2>Je ne suis pas sûr(e) de parvenir à bien identifier les espèces observées, puis-je participer tout
                    de même ?</h2>
                <p>
                    Bien sûr ! Des professionnels (naturalistes, ornythologistes) vérifient chaque observation avant de
                    les mettre en ligne.
                </p>
            </div>
            <div class="text-center margin">
                Si votre question ne trouve pas de réponse sur cette page, n'hésitez pas à nous contacter en allant sur
                notre page <a href="#" title="Contact">Contact</a>.
            </div>
        </section>
    </div>
{% endblock %}
