{# app/Resources/views/static/faq.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}FAQ | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Foire aux questions</h1>
        <section class="text-justify">
            <div>
                <h2>Question 1</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales ipsum purus. Nulla
                    facilisi.
                    Praesent massa purus, varius ac lectus eu, mollis rhoncus eros. Praesent lorem dui, pharetra eget
                    elementum
                    id, luctus ac arcu. Morbi varius venenatis sagittis. Aliquam erat volutpat. Aliquam et eros neque.
                    Suspendisse potenti. Nullam non mattis nisi. Duis rhoncus tincidunt luctus. Pellentesque ut mauris
                    vitae
                    neque gravida eleifend a sit amet odio. Mauris eu nunc ante.
                </p>
            </div>
            <div>
                <h2>Question 2</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales ipsum purus. Nulla
                    facilisi.
                    Praesent massa purus, varius ac lectus eu, mollis rhoncus eros. Praesent lorem dui, pharetra eget
                    elementum
                    id, luctus ac arcu. Morbi varius venenatis sagittis. Aliquam erat volutpat. Aliquam et eros neque.
                    Suspendisse potenti. Nullam non mattis nisi. Duis rhoncus tincidunt luctus. Pellentesque ut mauris
                    vitae
                    neque gravida eleifend a sit amet odio. Mauris eu nunc ante.
                </p>
            </div>
            <div>
                <h2>Question 3</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales ipsum purus. Nulla
                    facilisi.
                    Praesent massa purus, varius ac lectus eu, mollis rhoncus eros. Praesent lorem dui, pharetra eget
                    elementum
                    id, luctus ac arcu. Morbi varius venenatis sagittis. Aliquam erat volutpat. Aliquam et eros neque.
                    Suspendisse potenti. Nullam non mattis nisi. Duis rhoncus tincidunt luctus. Pellentesque ut mauris
                    vitae
                    neque gravida eleifend a sit amet odio. Mauris eu nunc ante.
                </p>
            </div>
            <div>
                <h2>Question 4</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales ipsum purus. Nulla
                    facilisi.
                    Praesent massa purus, varius ac lectus eu, mollis rhoncus eros. Praesent lorem dui, pharetra eget
                    elementum
                    id, luctus ac arcu. Morbi varius venenatis sagittis. Aliquam erat volutpat. Aliquam et eros neque.
                    Suspendisse potenti. Nullam non mattis nisi. Duis rhoncus tincidunt luctus. Pellentesque ut mauris
                    vitae
                    neque gravida eleifend a sit amet odio. Mauris eu nunc ante.
                </p>
            </div>
            <div class="text-center">
                Si votre question ne trouve pas de réponse sur cette page, n'hésitez pas à nous contacter en allant sur
                notre page <a href="#" title="Contact">Contact</a>.
            </div>
        </section>
    </div>
{% endblock %}
