{# app/Resources/views/static/mentions_legales.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mentions légales | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Mentions légales</h1>
        <section class="text-justify">
            <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie
                numérique, il est précisé aux utilisateurs du site <a href="http://nosamislesoiseaux.herokuapp.com"
                                                                      title="Nos Amis Les Oiseaux - http://nosamislesoiseaux.herokuapp.com">Nos Amis Les Oiseaux</a>
                l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>

            <h2>Propiétaire</h2>
            <p>
                Association Nos Amis Les Oiseaux<br>
                85 rue de la République<br>
                75016 PARIS<br>
                Email : contact@nao.com
            </p>

            <h2>Créateur</h2>
            <p>
                GSquad<br>
                52 rue Saint-Pierre-de-Vaise<br>
                69009 LYON<br>
                Email : contact@gsquad.com
            </p>

            <h2>Directeur de publication</h2>
            <p>
                Association Nos Amis Les Oiseaux<br>
                85 rue de la République<br>
                75016 PARIS<br>
                Email : contact@nao.com
            </p>

            <h2>Webmaster</h2>
            <p>
                Association Nos Amis Les Oiseaux<br>
                85 rue de la République<br>
                75016 PARIS<br>
                Email : contact@nao.com
            </p>

            <h2>Hébergeur</h2>
            <p>
                Heroku
            </p>

        </section>
    </div>
{% endblock %}
