{# app/Resources/views/static/mentions_legales.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mentions légales | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Mentions légales</h1>
        <section class="text-justify">
            <h2>Article 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales ipsum purus. Nulla facilisi.
                Praesent massa purus, varius ac lectus eu, mollis rhoncus eros. Praesent lorem dui, pharetra eget elementum
                id, luctus ac arcu. Morbi varius venenatis sagittis. Aliquam erat volutpat. Aliquam et eros neque.
                Suspendisse potenti. Nullam non mattis nisi. Duis rhoncus tincidunt luctus. Pellentesque ut mauris vitae
                neque gravida eleifend a sit amet odio. Mauris eu nunc ante.
            </p>

            <h2>Article 2</h2>
            <p>
                Cras a arcu vitae dui consequat porta. Suspendisse neque felis, malesuada ut gravida vitae, mollis ut est.
                Morbi eu sagittis nisl. Vivamus a mi tempus, faucibus erat vel, rutrum sem. Ut interdum sapien vitae nibh
                vestibulum rutrum. Fusce malesuada lacus vel eros varius, sit amet fringilla quam suscipit. Suspendisse
                fringilla tellus vel maximus fermentum. Nunc ornare velit lacinia varius efficitur.
            </p>

            <h2>Article 3</h2>
            <p>
                Donec pellentesque ante et nunc ultricies, vitae luctus leo consectetur. Ut consectetur posuere risus,
                eleifend vulputate neque molestie sit amet. Pellentesque lorem tortor, aliquam a nisl in, maximus gravida
                ligula. Aenean laoreet, massa a condimentum lobortis, mauris justo congue metus, non semper massa magna ac
                turpis. Vestibulum sit amet lorem ipsum. Nulla facilisi. Praesent fringilla justo vel libero aliquet
                pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent placerat dignissim scelerisque.
                Sed a enim hendrerit, rutrum dui faucibus, sollicitudin neque. Proin id luctus nulla, in auctor est. Nam
                dictum, nunc quis sodales fringilla, lectus dui consequat nibh, in pharetra orci nibh nec justo.
            </p>

            <h2>Article 4</h2>
            <p>
                Suspendisse at dapibus eros, sed maximus nunc. Maecenas ut sollicitudin diam. Praesent euismod felis id
                elementum finibus. Ut vulputate imperdiet est id viverra. Mauris fermentum urna eu augue placerat mollis.
                Fusce quis lorem vulputate, dictum ante sed, consequat augue. Cras in augue eget libero viverra luctus in ac
                mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ut
                neque sit amet mi consequat consequat nec hendrerit nisl. Morbi sollicitudin efficitur ultricies. Donec eget
                aliquam urna. Aenean bibendum metus feugiat magna venenatis pulvinar.
            </p>

            <h2>Article 5</h2>
            <p>
                Integer et convallis nisl. Fusce ut congue est. Integer rhoncus quam sed gravida vestibulum. Nullam non
                massa non dolor porttitor tempus at at nisl. Etiam malesuada diam quis nunc condimentum placerat nec vitae
                ante. Proin ligula mi, euismod eget vulputate sed, dapibus ac enim. Nunc aliquet ipsum non turpis varius
                egestas faucibus a massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                himenaeos. Etiam tempor lacinia ligula, et pellentesque urna.
            </p>

        </section>
    </div>
{% endblock %}
