.btn-delete, .btn-save {
    position: relative;
}

.btn-delete > form, .btn-save > form {
    position: absolute;
    top: 5px;
    opacity: 0;
}

.admin-block {
    margin-bottom: 10px;
}

.name {
    color: #303030;
}